<h3>Detalhes da Turma</h3>
<p></p>
<p><strong>ID:</strong> <%= @turma.id %></p>
<p><strong>Nome:</strong> <%= @turma.name %></p>
<p><strong>Periodo:</strong> <%= @turma.period %></p>

<p></p>

<h3>Disciplinas</h3>

<% @turma.disciplines.each do |discipline| %>
	<p><%= discipline.name %></p>
<% end %>

<%= link_to("Voltar", turmas_path, class: "btn btn-success pull-right", title: "Voltar") %>
